body {
    margin: 0px;
}

.stripe {
    width: 500px;
    height: 100px;
}

#black {
    background-color: black;

}

#red {
    background-color: red;

}

#gold {
    background-color: #ffd700;
}


